/* import google fonts and local resources */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@700&display=swap"); */
@import url("/assets/emirio-css/NotoSansSC.css");

/* 
@font-face {
  font-family: sans-serif;
  src: url('/assets/fonts/montserrat/sans-serif.ttf'); 
} */

/* global css setting */
* {
	margin: 0px; 
	padding: 0px; 
  box-sizing: border-box;
  /* adjust sweetalert2 font issues */
  font-family: Noto Sans SC;
}

/*
  body, html should not set font-family, it will restyle by other elements
*/
body, html {
  height: 100%;
}


/* Tag <a> setting */
a {
	/* font-family: Noto Sans SC; */
	font-size: 14px;
	line-height: 1.7;
	color: #75061e;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}

a:focus {
  outline: none !important;
  color: #75061e;
}

a:hover {
	text-decoration: none;
  color: #75061e;
}


/* Tag <h>, <p>, <ul>, <li> settings */
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	/* font-family: Noto Sans SC; */
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* form element, like <input> <textarea> <label> setting */
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}


label {
  display: block;
  margin: 0;
}


/* submit button setting */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/* remark setting */
.txt1 {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4;
  color: #1d4f64;
}

.txt2 {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.4;
  /* color: #1d4f64; */
  color: #999999;
}


/* third-party login methods */
.bg1 {background: #1d4f64;}
.bg2 {background: #1d4f64;}
.bg3 {background: #cd201f;}


/* main right login page container */
.limiter {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  background: transparent;
}


/* login form container */
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}


/* login wrap form container */
.wrap-login100 {
  width: 100%;
  /* background: #fff; */
  background: transparent;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}


/* main left wave background */
.login100-more {
  width: calc(100% - 460px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
}


/* welcome title info settings */
.welcome {
  position: relative;
  display: block;
  text-align: center;
  top: 25%;
}

.welcome h1 {
  font-family: Noto Sans SC;
  font-size: 9em;
  font-weight: 700;
  letter-spacing: 6px;
  color: #fff;
  animation: glow 2s ease-in-out infinite alternate-reverse;
  /* overflow: hidden;
  background: linear-gradient(90deg, #fff, #1d4f64, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shinning 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); */

}

/* @keyframes shinning {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
} */

@keyframes glow {
  from {
    text-shadow: 0 0 20px #dddddd;
  }
  to {
    text-shadow: 0 0 40px #1d4f64, 0 0 10px #000000;
  }
}


/* login form css settings */
.login100-form {
  width: 460px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 130px 55px 25px 55px;
}


/* login form big title settings */
.login100-form-title {
  width: 100%;
  display: block;
  font-family: Noto Sans SC;
  font-size: 38px;
  color: #1d4f64;
  line-height: 1.2;
  text-align: center;
  /* background: linear-gradient(90deg, #1d4f64, #fff, #1d4f64);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s ease-in-out infinite; */
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}
/* 
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  
  100% {
    background-position-x: 500%
  }
} */


/* login form input style settings */
.wrap-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #bbb5b5;
  border-radius: 15px;
  margin-bottom: 10px;
}


/* loginform label style settings */
.label-input100 {
  font-family: sans-serif;
  font-size: 16px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


/* login form inner label settings */
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: sans-serif;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

input.input100 {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


/* login form input get focused settings */
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 2px solid #1d4f64;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.input100:focus {
  height: 48px;
}

.input100:focus + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

.has-val {
  height: 48px !important;
}

.has-val + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}


/* login form checkbox style settings */
.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Noto Sans SC;
  font-size: 13px;
  color: #1d4f64;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #6675df;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #1d4f64;
}


/* login form login button style settings */
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #1d4f64;

  font-family: sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}


/* login page responsive style settings */
@media (max-width: 992px) {
  .login100-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .login100-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login100-form {
    width: 100%;
  }

  .login100-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}


/* login form validation alert settings */
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Noto Sans SC;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/* login form third-party icon settings */
.login100-form-social-item {
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.login100-form-social-item:hover {
  background: #333333;
  color: #fff;
}


/* version settings */
.version {
  position: relative;
  font-size: 12px;
  top: 1rem;
  text-align: center;
  color: #999999;
}


/* login page logo settings */
.container {
  width: 100%;
  height: 100vh;  
  display: block;
}

.container .box {
  left: 1rem;
  width: 180px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.container .box .title .block {
  width: 0%;
  height: inherit;
  background: #fff;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}

.container .box .title h1 {
  font-family: Noto Sans SC;
  color: #fff;
  font-size: 30px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

.container .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) infinite alternate-reverse;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.container .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}

.container .box .role .block {
  width: 0%;
  height: inherit;
  /* background: #e91e63; */
  background: #fff;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}

.container .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    height: 80%;
    left: 0;
    opacity: 0.6;
  }
  50% {
    width: 100%;
    height: 50%;
    left: 0;
    opacity: 0.3;
  }
  100% {
    width: 0;
    height: 0%;
    left: 100%;
    opacity: 0;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    height: 0%;
    left: 0;
    opacity: 0;
  }
  50% {
    width: 100%;
    height: 30%;
    left: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    left: 100%;
    height: 60%;
    opacity: 0.8;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: rgb(255, 255, 255);
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

footer {
  width: 350px;
  height: 80px;
  background: #ffb510;
  position: absolute;
  right: 0;
  bottom: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: top 0.8s forwards;
  animation-delay: 4s;
}

footer span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #232323;
  font-family: 'Poppins';
}

footer span i {
  margin-right: 25px;
  font-size: 22px;
  color: #232323;
  animation: icon 2s forwards;
  animation-delay: 4s;
  opacity: 0;
}

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}



.lePushReleaseTo span { animation-name: lePushReleaseTo }
@keyframes lePushReleaseTo {
    30% { transform: scale(.5, .5) }
    to {
        transform: scale(5, 5);
        opacity: 0;
    }
}